/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
    border-color: #888;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /*    end*/
  *{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.current{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 251, 251, 0.507);
}

body{
    margin: 0px;
    border: 0px;
    background-color: skyblue;
    width: 100vw;
    overflow-x: hidden;
    height: 1000px;
}
.navBarmain{
    height: 100px;
    width: 100vw;
    margin-top: -17px;
    position: fixed;
    transition: all 0.3s ease 0s;
}
/*for the shrinking sa navbar ni*/
.navbarshrink{
    background-color: white;
    height: 98px;
    transition: all 0.3s ease 0s;
    border-width: 0px 0px 2px 0px;
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-color: #555;
    z-index: 1;
}
.navbarshrink .navigations li{
    margin-top: 35px;
}
.navbarshrink .navigations li:hover{
    margin-left: 10px;
    margin-right: 10px;
}
.navbarshrink .navigations li a{
    padding: 20px;
    padding-bottom: 21px;
    border-radius: 0px;
    color: black;
    transition: all 0.1s ease 0s;
}
.navbarshrink .navigations li a:hover{
    color: gray;
    border-width: 3px;
    border-color: darkblue;
    border-style: solid;
    border-radius: 5px;
}
.navbarshrink .current{
    border-style: solid;
    border-color: darkblue;
    border-width: 0px 0px 5px 0px;
}
.navbarshrink .current:hover{
    border-width: 3px;
}
.navbarshrink .Logo .h21{
    margin-top: 35px;
    color: darkblue;
    background-color: skyblue;
    border-radius: 5px;
    padding: 10px;
}
.navbarshrink .Logo .h22{
    margin-top: 35px;
    color: black;
    background-color: white;
}

/*end*/
/*Logo*/
.Logo{
    display: inline;
    margin-top: 20px;
    margin: 15px;
    padding: 20px;
    margin-top: 13px;
    margin-left: 80px;
}

.h21{
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(3, 3, 3);
    display: inline-block;
    margin-top: 35px;  
    transition: all 0.3s ease 0s;
}
.h22{
    font-weight: 900;
    letter-spacing: 2px;
    color: skyblue;
    display: inline-block;
    margin-top: 35px;  
    transition: all 0.3s ease 0s;
    background-color: darkblue;
    border-radius: 5px;
    padding: 10px;
}
/*ul na ni*/
.navigations{
    list-style: none;
    float: right;
    margin-right: 125px;
    display: inline;
}
.navigations li{
    display: inline-block;
    margin: 15px;
    margin-top: 35px;
}
.navigations li:hover{
    margin: 15px;
    margin-left: 13.5px;
    margin-right: 13.5px;
}
.navigations li a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease 0s;
    padding: 20px;
    border-radius: 5px;
}
.current:hover{
    border-color: darkblue;
}
.navigations li a:hover{
    color: rgb(82, 82, 82);
    border-color: darkblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}


/*sa background ug quote na i*/

.quote{
    background-image: url("../drawable/bg.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    padding-top: 429px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 100px;
}
.quote h1{
    color: white;
    margin: 0px;
    padding: 20PX;
    border-radius: 10px;
    background-color: #22212183;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: 1s ease-in 0s 1 opacity;
}
@keyframes opacity{
    0%{opacity: 0.0;}
    100%{opacity: 1.1;}
}


.quote h1 b{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1{
    padding: 150px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: content-box;
}
img{
    margin: 0px;
    margin-top: -3px;
}
.sec1div1{
    height: 530px;
    box-sizing: border-box;
    margin: 0px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 50px;
}
.sec1div2{
    margin-top: -500px;
    padding: 5px;
    box-sizing: border-box;
    width: 450px;
    margin-left: 900px;
}
.section1 h1{
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}
.section1 p{
    margin-top: 5px;
    font-size: x-large;
    font-weight: 500;
}
.Buttonseemore{
    float: right;
    font-size: 25px;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
    margin-right: -15px ;
    margin-top: 20px;
}
.Buttonseemore:hover{
    border-color: rgb(88, 88, 88);
}

.section2{
    padding: 150px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: content-box;
    height: 350px;
}
.sec2div1{ 
    padding: 5px;
    box-sizing: border-box;
    width: 450px;
    float: left;
    margin-left: 160px;
    margin-top: 30px
}
.section2 p{
    margin-top: 5px;
    font-size: x-large;
    font-weight: 500;
}
.section2 h1{
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}
hr{
    margin-left: 100px;
    margin-right: 100px;
}
.section2 img{
    float: right;
    margin-right: 100px;
    justify-content: column;
    display: flex;
}
footer{
    height: 200px;
    padding: 30px;
    background-color: rgb(87, 165, 196);
    box-shadow:#000000;
}