body{
    margin: 0;
    overflow-x:hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
.topnav {
    background-color: #7d12bb;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
    }
    .topnav a {
    float: right;
    color: #050303;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    .topnav a:hover {
    background-color: rgba(252, 249, 255, 0.082);
    color: rgba(0, 0, 0, 0.137);
    }
    .topnav a.active {
    background-color: #dddddd;
    color: rgb(0, 0, 0);
    }
    .topnavtitle {
    color:white;
    margin:0;
    font-weight:bold;
    font:sans-serif;
    text-align:center;
    position: absolute;
    
    left: 0px;
    width: 300px;
    padding-top: 30px;
    font-size: 20px;
    }
    .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
    object-fit:contain;
    }